pandas==2.2.3
st-annotated-text==4.0.1
st-theme==1.2.3
streamlit==1.39.0
streamlit-aggrid==1.0.5
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.5.0
streamlit-faker==0.0.3
streamlit-highcharts==0.2.0
streamlit-image-coordinates==0.1.9
streamlit-javascript==0.1.5
streamlit-js-eval==0.1.7
streamlit-keyup==0.2.4
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
